/* global palette */
:root{
    --primary-dark: #121A21;
    --primary-normal: #1F2D33;
    --primary-light: #2B3942;

    --secondary-dark: #025143;
    --secondary-normal: #045D4B;
    --secondary-light: #00CF9C;
}

/* globals */
.bg__primary__dark{
    background-color: var(--primary-dark);
}

.bg__primary__normal{
    background-color: var(--primary-normal);
}

.bg__primary__light{
    background-color: var(--primary-light);
}

.bg__secondary__dark{
    background-color: var(--secondary-dark);
}

.bg__secondary__normal{
    background-color: var(--secondary-normal);
}

.border__primary__normal{
    border: 1px solid var(--primary-normal);
}

.border__bottom__primary__light{
    border-bottom: 1px solid var(--primary-light);
}

.border__right__primary__light{
    border-right: 1px solid var(--primary-light);
}

.cursor__pointer{
    cursor: pointer;
}

i:hover{
    color: var(--secondary-light) !important;
}

/* main */
main{
    height: 100vh;
}

/* app */
.app{
    height: 85%;
}

/* app sides */
.app__sides{
    height: 100%;
}

.app__left{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.app__right{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* app header */
.app__left .header__container,
.app__right .header__container{
    min-height: 70px;
}

.app__header__left{
    border-top-left-radius: 4px;
}

.app__header__right{
    border-top-right-radius: 4px;
}

.app__text p{
    font-size: 0.7em;
}

.header__icons i{
    cursor: pointer;
}

/* notification */
.notification__icon{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* searchbar */
.search__bar__icon{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:active,
input:focus{
    outline: none !important;
    box-shadow: none !important;
    
}

.search__bar__input:focus,
.search__bar__input:active{
    background-color: var(--primary-normal);
}

/* contacts */
.contact__active{
    background-color: var(--primary-normal);
}

/* messages */
.app__messages{
    height: calc(100% - (70px + 55px));
    background-image: url(../img/mine.jpg);
    background-color: var(--primary-dark);
    background-position: center;
    background-size: contain;
    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #121a21bc;
    z-index: 2; 
    overflow-y: scroll;
}

.app__message{
    width: 40%;
    margin-bottom: 15px;
}

.message__sent{
    background-color: var(--secondary-normal);
    margin-left: auto;
}

.message__recived{
    background-color: var(--primary-normal);
    margin-right: auto;
}

.app__message i{
    right: 10px;
    top: 0;
    cursor: pointer;
    visibility: hidden;
}

.app__message:hover i{
    visibility: visible;
}

/* messages input */
.app__message__input{
    height: 55px;
    border-bottom-right-radius: 4px;
}

.message__input{
    height: 100%;
}

.message__input:focus,
.message__input:active{
    background-color: var(--primary-normal);
}

.message__popup{
    display: flex;
    height: 60px;
    width: 180px;
    right: -15px;
    top: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.hide__popup{
    display: none !important;
}