/* global palette */
:root{
    --primary-dark: #121A21;
    --primary-normal: #1F2D33;
    --primary-light: #2B3942;

    --secondary-dark: #025143;
    --secondary-normal: #045D4B;
}

/* palette classes */
.bg__primary__dark{
    background-color: var(--primary-dark);
}

.bg__primary__normal{
    background-color: var(--primary-normal);
}

.bg__primary__light{
    background-color: var(--primary-light);
}

.bg__secondary__dark{
    background-color: var(--secondary-dark);
}

.bg__secondary__normal{
    background-color: var(--secondary-normal);
}

/* main */
main{
    height: 100vh;
}

/* app */
.app{
    height: 85%;
}

/* app sides */
.sides{
    height: 100%;
}

/* app header */
.app__left .header__container,
.app__right .header__container{
    min-height: 70px;
}

.app__text p{
    font-size: 0.7em;
}

.header__icons i{
    cursor: pointer;
}

/* notification */
.notification__icon{
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}


